/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, div, span, h1, h2,
h3, h4, h5, footer, header, p, nav, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

 body {
   font-family: 'Abel', sans-serif;
 }

 input[type="text"]{
     width: 300px;
     height: 30px;
     padding: 5px 10px;
     font-family: Helvetica, sans-serif;
     font-weight: 200;
     font-size: 14px;
     border: 1px solid #aaa;
     border-radius: 2px;
 }

 textarea:hover,
 input:hover,
 textarea:active,
 input:active,
 textarea:focus,
 input:focus,
 button:focus,
 button:active,
 button:hover
 {
     outline:0px !important;
     -webkit-appearance:none;
 }


/*active*/
 .btn-default.active:hover:focus  {
   background-color: #d4d4d4;
 }

 .btn-default.active:focus {
   background-color: #e6e6e6;
 }

/*unactive*/
.btn-default:hover:focus  {
  background-color: #e6e6e6;
}

.btn-default:focus {
  background-color: #fff;
}
