/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body, div, span, h1, h2,
h3, h4, h5, footer, header, p, nav, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}

[data-icon]:before {
  font-family: icons; /* BYO icon font, mapped smartly */
  content: attr(data-icon);
  margin-right: 3px;
}

input {
    background: transparent;
    border: none;
}

input[type="submit"]:hover {
    background-color: #ccc;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

 body {
   font-family: 'Abel', sans-serif;
   background-color: #E9EBEE;
   min-width: 920px;
 }

 .graybox {
  background-color: #f7f7f7;
  border: 1px solid #cccccc;
  color: #333333;
  padding: 10px;
  font-size: 13px;
  font-weight: bold;
 }

 .panel {
   background-color: #fff;
   border: 1px solid #ccc;
   padding: 10px;
 }

/*Fixing blue outline on active, focus, and hover*/
 textarea:hover,
 input:hover,
 textarea:active,
 input:active,
 textarea:focus,
 input:focus,
 button:focus,
 button:active,
 button:hover
 {
     outline:0px !important;
     -webkit-appearance:none;
 }


/*active*/
 .btn-default.active:hover:focus  {
   background-color: #d4d4d4;
 }

 .btn-default.active:focus {
   background-color: #e6e6e6;
 }

/*unactive*/
.btn-default:hover:focus  {
  background-color: #e6e6e6;
}

.btn-default:focus {
  background-color: #fff;
}

/*bootstrap margin fix*/
.btn-toolbar {
  margin: 0px;
  display: flex;
  align-items: center;
}
