.business-detail-main {
  position: relative;
}

.business-banner {
  background-image: url("http://i.imgur.com/v20xjxxb.jpg");
  width: 100px;
  height: 371px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.quick-summary {
  .quick-info{
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    border: 1px solid #aaa;
    padding: 10px;
    max-width: 200px;
  }
}

.business-description {
}
