.business-detail-main {
}

.business-image {

  #loadIcon {
    position: relative;
    z-index: 1;
    display: none;
  }

  position: relative;
  height: 370px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 26px;
  overflow: hidden;

  .arrow {
    cursor: pointer;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    opacity: .7;
    position: relative;
    z-index: 3;
  }

  .arrow:hover {
    opacity: .9;
  }
}

#business-image {
  position: absolute;
  padding: 2px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.head-title {
    color: white;
    text-align: center;

  h1 {
    padding-top: 5px;
    padding-bottom: 15px;
    line-height: 1.1em;
  }
}

.summary-reviews {
  display: flex;
  margin-top: 15px;
  padding: 10px 0;
}

.quick-summary {
  width: 200px;

  h1, h3 {
    margin-top: .3em;
  }
  .quick-info{

    #address {
      max-height: 40px;
      overflow: hidden;
    }

    a {
      color: white;
    }

    span {
      margin: 5px 0;
    }

    color: white;
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    border: 1px solid #aaa;
    padding: 25px;
    max-width: 200px;
  }
}

.business-description {
}
