.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #require-login{
    margin-left: 10px;
    color: red;
  }

  

    .loginandsign {
      color: #fff;
      font-weight: bold;
      text-shadow: 1px 1px 1px #aaa;
    }

    .profile-about{
      background-image: url("http://www.lcfc.com/images/common/bg_player_profile_default_big.png");
      background-repeat: round;
      border: 1px solid white;
      width: 30px;
      height: 30px;
      border-radius: 50px;
    }

    .dropdown-menu {
      min-width: 50px;
    }

    .header-group {
      display: flex;
      width: auto;

      input {
        border: none;
        background: transparent;
        color: black;
      }
    }

    .header-name {
      color: white;
      font-size: 14px;
      margin-right: 5px;
      display: flex;
      align-items: center;
    }



  .login-form {
    display: flex;
    flex-direction: column;
    padding: 0 10px 10px 10px;
    justify-content: center;

    input[type="submit"], button {
      background-color: inherit;
      border: none;
    }

    input[type="submit"]:hover, button:hover {
      background-color: #99CC66;
    }
}

  .auth-buttons {
    z-index: 5;
    position: absolute;
    top: 5px;
    right: 2%;
}

  button.dropdown-toggle.loginandsign.btn.btn-default {
      background: transparent;
      color: white;
      border: 0;
  }

    .video-container
  {
    position: relative;
    height: 400px;
    width: 100%;
    background-color: white;
    overflow: hidden;
  }

  .video-container video
  {
    position: absolute;
    width: 100%;
    z-index: 2;
    min-height: 400px;
    min-width: 800px;
  }

  .map {
    position: absolute;
    top: 0px;
  }

  .main-pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .map {
      width: 100%;
      height: 400px;
    }
    // map div ends

    .info {
      width: 80%;
      display: flex;
      flex-direction: column;

      .business-pane {
        display:flex;

        .single-business-show {
          width: 68%;
          background-color: white;
          margin-top: 10px;
          border-left: 0;
          padding-top: 25px;
          font-size: 14px;
          border-radius: 0 4px 4px 0;
        }

        .businesses-index {
          width: 32%;
          margin-top: 10px;
          min-width: 300px;
          border-right: 0;
          border-radius: 4px 0 0 4px;

          .business-index-item:hover {
            border-left: 2px solid #CADFAA;
            cursor: pointer;
          }

          .business-index-item {
            display: flex;
            align-items: center;
            height: 100px;
            padding: 5px 10px;
            font-size: 14px;
            font-weight: 400;
            border: 1px 0 1px 1px solid #ccc;

            .business-profile-pic {
              width: 70px;
              height: 70px;
            }

            .basic-business-info {
              display: flex;
              flex-direction: column;
              line-height: 1.6em;
              height: 70px;
              padding: 5px 10px;

              .business-name {
                font-size: 18px;
                font-weight: bold;

              }
            }

          }

          .business-index-item:last-child {
            border-bottom: none;
          }
        }

      }

      .button-toolbar {
        border: 1px solid #ccc;
        padding: 10px;
        background-color: #fff;
        display: flex;
        justify-content: center;

        .filter-buttons {
          border: 1px solid #aaa;
          border-radius: 2px;
        }
      }
    }
    // info div ends



  }
  // main pane ends

}
// main body ends
