.main-header {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  min-width: 940px;

  z-index: 4;
  position: absolute;
  top: 340px;

  #react-whatever-search-bar {
    width: 98%;
  }

  .blackheader {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: #000;
    opacity: .5;
}

.btn {
  background-color: transparent;
  color: white;
  border: 1px solid;
  font-size: 13px;
  margin-left: 10px;
}

.blackheader {
  background-color: black;
  opacity: .5;
}

   .btn-default:focus,
   .dropdown-toggle.btn-default, .dropdown-toggle.btn-default:hover,
   .dropdown-toggle.btn-default:focus,
  .btn-default:active, .btn-default:hover, .btn-default
   {
     background: inherit;
     border: none;
   }

  .main-header input[type="text"] {
    width: 200px;
    height: 30px;
  }

  @media screen and (max-width: 750px) {
  .search-bars input[type="text"] {
    background-color: black;
  }
}

.btn-group.button-group {
  min-width: 130px;
}

button.filter-buttons.btn.btn-default {
    padding: 8px;
}

  .search-and-session {
    display: flex;
    justify-content: space-between;
    width: 85%;
    min-width: 800px;
  }

  .search-bars, .login-signup, .header-group {
    display: flex;
    align-items: center;
  }

  .search-bars {
    width: 50%;
    min-width: 300px;

    .react-autosuggest__container {
      width: 50%;
      padding-right: 1%;

      input[type="text"]{
        width: 100%;
      }
    }

    input[type="text"]{
      width: 50%;
        margin-right: 10px;
        background: transparent;
        color: white;
        height: 35px;
        padding: 3px 6px;
        font-family: Helvetica, sans-serif;
        font-weight: 200;
        font-size: 14px;
        border: 1px solid #fff;
        border-radius: 2px;
    }
  }

  .login-signup {
    margin-right: 10px;
  }

  .header-link {
    font-size: 8em;
    font-color: white;
    font-weight: bold;
  }

  .login {
     display: flex;
     align-items: center;

     .current {
       font-color: white;
       font-weight: bold;
       font-size: 4em;
     }


    .dropdown-profile {
      display: flex;
      width: 100px;
    }
  }
}
