.main-header {
  background-color: #99CC66;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;

  input[type="text"]{
      width: 300px;
      height: 40px;
      padding: 5px 10px;
      font-family: Helvetica, sans-serif;
      font-weight: 200;
      font-size: 14px;
      border: 1px solid #aaa;
      border-radius: 2px;
  }

  .search-and-session {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .search-bars, .login-signup, .header-group {
    display: flex;
    align-items: center;
  }

  .search-bars {
    input[type="text"] {
      margin-left: 10px;
    }
  }

  .login-signup {
    margin-right: 10px;
  }

  .header-link {
    font-size: 8em;
    font-color: white;
    font-weight: bold;
  }

  .login {
     display: flex;
     align-items: center;

     .current {
       font-color: white;
       font-weight: bold;
       font-size: 4em;
     }


    .dropdown-profile {
      display: flex;
      width: 100px;
    }
  }
}
