.new-business-container {
  padding: 10px;
  background: white;
  margin: 10px;
  height: 400px;
  border: 1px solid #ccc;

  #success-notice {
    background-color: #060;
    opacity: 0;
    transition: 'all 0.5s';
    color: #fff;
    font-weight: bold;
  }


  form {
    display: flex;
    flex-direction: column;

    .button-holder {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }

    .new-business-address {
      position: relative;

      input.business-field {
        width: 100%;
      }

      .suggested-addresses-container {
        position: absolute;
        top: 43px;
        border: 1px solid #ccc;
        background-color: white;
        cursor: pointer;

        li {
          height: 37px;
          font-size: 14px;
          overflow: hidden;
          border-bottom: 1px solid #ccc;
        }

        li:hover {
          background-color: #ccc;
        }
      }
    }
  }

}

label.business-field {
  font-size: 14px;
  font-weight: 400;
}

input.business-field {
  font-size: 12px;
  font-weight: 300;
  border: 1px solid #ccc;
}
