.star-group{
  display: flex;
  flex-direction: row-reverse;;
  justify-content: flex-end;
  font-size: 32px;

  .star-rating {
    padding: 5px;
    text-shadow: 1px 1px 1px #d6b500;
  }

  .star-rating:hover {
    color: #FFD700 !important;
    cursor: pointer;
  }

  #star1:hover ~ .star-rating {
    color: yellow !important;
  }

  #star2:hover ~ .star-rating {
    color: yellow !important;
  }

  #star3:hover ~ .star-rating {
    color: yellow !important;
  }

  #star4:hover ~ .star-rating {
    color: yellow !important;
  }

  #star5:hover ~ .star-rating {
    color: yellow !important;
  }
}
